<div class="post-detail">
<h1><%= @post.title %></h1>
<% if @post.image.attached? %>
<%= image_tag @post.image, class:"post-image" %>
<% end %>
<p><%= simple_format(@post.content) %></p>

<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to "Back", posts_path %>
<%= button_to "Delete", post_path(@post), method: :delete, data: { confirm: "Are you sure?" } %>
</div>
